# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/.export/

# production
/build
/dist
/.vercel

# misc
.DS_Store
Thumbs.db
*.pem
*.tgz
*.log
logs/
.cache/
*.swp
*.swo

# editors/IDEs
.idea/
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (safe to ignore if sensitive)
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# tooling
.eslintcache
.prettiercache

# cloud
.firebase/
.firebaserc
.aws/
.gcloud/
